---
type Props = {
  name: "clock" | "file" | "store" | "edit" | "code" | "image" | "grid" | "search" | "review" | "publish";
  wrapperClass?: string;
};

const { name, wrapperClass = "icon-1x1-medium w-embed" } = Astro.props;
const paths = {
  clock: "M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Zm-40-280v-240h80v206l129 129-57 57-152-152Z",
  file: "M224.35-357h102q10.59 0 17.8-7.12 7.2-7.11 7.2-18 0-10.88-7.2-17.88-7.21-7-17.8-7h-85v-146h85q10.59 0 17.8-7.12 7.2-7.11 7.2-18 0-10.88-7.2-17.88-7.21-7-17.8-7h-102q-14.27 0-23.63 9.78-9.37 9.77-9.37 24.22v179q0 14.02 9.37 23.51 9.36 9.49 23.63 9.49Zm189.08 0h112q14.03 0 23.52-9.49 9.48-9.49 9.48-23.51v-78q0-13-9.48-21.88-9.49-8.88-23.52-8.88h-87v-54.32h95q10.84 0 17.92-7.08 7.08-7.07 7.08-17.96 0-10.88-7.08-17.88-7.08-7-17.92-7h-112q-14.02 0-23.51 9.49-9.49 9.48-9.49 23.51v78q0 14 9.49 23.5t23.51 9.5h87v52h-95q-10.83 0-17.91 7.12-7.09 7.11-7.09 18 0 10.88 7.09 17.88 7.08 7 17.91 7Zm272.61-63-42-165q-2.24-8-8.46-13-6.23-5-14.75-5-11.93 0-19.48 10-7.55 10-4.31 21l54 195q2 9 9.88 14.5 7.88 5.5 17.57 5.5h15.11q9.44 0 16.82-5.5 7.38-5.5 9.62-13.5l60-197q3.76-11.35-3.62-20.68-7.38-9.32-19-9.32-8.62 0-15.02 4.5t-8.36 12.5l-48 166ZM142.15-154.02q-27.6 0-47.86-20.27-20.27-20.26-20.27-47.86v-515.7q0-27.7 20.27-48.03 20.26-20.34 47.86-20.34h675.7q27.7 0 48.03 20.34 20.34 20.33 20.34 48.03v515.7q0 27.6-20.34 47.86-20.33 20.27-48.03 20.27h-675.7Z",
  store: "M160-720v-80h640v80H160Zm0 560v-240h-40v-80l40-200h640l40 200v80h-40v240h-80v-240H560v240H160Zm80-80h240v-160H240v160Zm-38-240h556l-28-140H230l-28 140Z",
  edit: "M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 23q0 11-4 22.5T863-380L643-160H520Zm60-60h38l121-122-37-37-122 121v38Z",
  code: "M320-240 80-480l240-240 57 57-184 183 184 183-57 57Zm320 0-57-57 184-183-184-183 57-57 240 240-240 240Z",
  image: "M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Z",
  grid: "M120-520v-320h320v320H120Zm0 400v-320h320v320H120Zm400-400v-320h320v320H520Zm0 400v-320h320v320H520ZM200-600h160v-160H200v160Zm400 0h160v-160H600v160Zm0 400h160v-160H600v160Zm-400 0h160v-160H200v160Z",
  search: "M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z",
  review: "M480-80q-84 0-157-31.5T196-197q-54-54-85-127T80-480q0-84 31-157t85-127q54-54 127-85t157-31q84 0 157 31t127 85q54 54 85 127t31 157q0 84-31 157t-85 127q-54 54-127 85.5T480-80Zm-44-200 284-284-56-56-228 228-116-116-56 56 172 172Z",
  publish: "M160-120q-33 0-56.5-23.5T80-200v-560q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v560q0 33-23.5 56.5T800-120H160Zm320-160 240-240-56-56-144 144v-248h-80v248L296-576l-56 56 240 240Z",
} as const;
---

<div class={wrapperClass}>
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 -960 960 960" aria-hidden="true">
    <path fill="currentColor" d={paths[name]}></path>
  </svg>
</div>
